/* Font Family Links*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/*Full Body*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat-Bold';
}

/* Navigation Header */

li,a,button{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 300px;
    font-size: 25px;
    color:aliceblue;
    text-decoration: none;
}
.header{
    background-color: rgb(254, 57, 57);
    padding: 0px 50px;
}
.header1{
    font-size: 40px;
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}



.nav-header{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
}
nav ul li a:hover{
    opacity: 1.0;
}

.big-heading{
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
   align-items: "center";
   font-size: 80px;
   font-weight: bolder;
   line-height: 1.5;
}
/* Iphone Image */
.dogs-daily{
   margin-top: 50px;
}



.iphone-image{
    justify-content: space-between;
    align-items: center;
    float: right;
    transform: rotate(25deg);
    position: relative;
    bottom: 370px;
    right:100px;
    
}
.container-image{
    padding-bottom: 70px;
}

#features {
    /* To make sure the image is hidden*/
    position: relative;
}
/* Features */
.white-section {
    background-color: #fff;
    height: 400px;
}


.socials{
    text-align: center;
}
.feature-title {
    font-size: 25.5px;
    font-weight: bold;
    position: relative;
    bottom: 150px; 
    left: 130px;
    padding: auto;
    margin: auto;
}
.feature-name{
    font-size: 15px;
    justify-content: space-between;
    font-weight: lighter;
    padding: 0px 0px 0px 130px;
}

.feature-box {
    position: relative;
    top: 145px;
    left:  65px;
    display: flex;
    justify-content: space-between;
    padding: 200px 0px 105px;
}
.feature-namebox{
    display: flex;
    position: relative;
    bottom: 103px;
    margin: 0px 200px 0px 115px;
}

/* Testimonials Style */
.testimonial{
    margin-bottom: 70px;
    background-color: #ef8172;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 150px 460px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 2.0rem;
    line-height: 1.0;
}

/* Logo Images */
.logo-image{
    background-color: #ef8172;
}
.image{
    margin-left: 50px;
}
/* Pricing*/
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.paragraph-heading{
    text-align: center;
}

/* Borders and Text*/

.first-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 75px;
    margin-left: 130px;
    background-color: rgb(244, 239, 239);
}
.price-text {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}

.firstbig-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 355px;
    margin-left: 130px;
}

.p-class{
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.button-signup{
    margin-left: 38.5%;
    margin-top: 10%;
    color: black;
}

.button-color{
    color: black;
    opacity: 0.8;
}
.button-color:hover{
opacity: 1.0;
}

.second-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 75px;
    margin-left: 130px;
    background-color: rgb(244, 239, 239);
   
}
.secondbig-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 355px;
    margin-left: 130px;
    
}

.third-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 75px;
    margin-left: 130px;
    
    background-color: rgb(244, 239, 239);
}
.thirdbig-border{
    border: 1px solid rgb(242, 232, 232);
    width: 25.3%;
    height: 355px;
    margin-left: 130px;
    
}

.border{
    margin:auto;
    display: inline;
}


.container-ending{
    background-color: rgb(248, 9, 9);
}

<!--Sign Up Form->

.signup-form{
    width: 80%;
    height: 650px;
    margin: auto;
    border-radius: 3px;
    align-items: center;
}
.signup-form h1{
    text-align: center;
    padding-top: 15px;
}
.signup-form h4{
    text-align: center;
}
.signup-form a{
    color: blue;
    text-decoration: underline;
    font-size: medium;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 280px;
    height: 35px;
    margin-top: 14px;
    border: none;
    background-color: #49c1a2;
    color: #fff;
    font-size: 15px;
    opacity: 0.6;
}

input[type="button"]:hover{
    opacity: 1;
}
.big-button{
    color: black;
    margin-left: 30px;
    align-items: center;
}


.container-fluid {
    padding: 7% 15%;
}

.social-icons{
    size: 50%;
    align-items: center;
    margin-left: 100px;
}

.social-fluid a{
    font-size: 24px;
    color:inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7px;
}
.social-fluid a:hover{
    opacity: 1.0;
}
/* Responsive website*/
@media only screen and (max-width:700px) {
nav ul{
    width: 100%;
    background: linear-gradient(#f81b1b, #ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
}
nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    color:#fff;
}
.menu-icon{
    display: block;
}
#menuList{
    overflow: hidden;
    transition: 0.5s;
}

.big-heading{
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
   align-items: "center";
   font-size: 40px;
   font-weight: bolder;
   line-height: 1.5;
}
/* Iphone Image */
.dogs-daily{
    width: 100%;
   margin-top: 200px;
}



.iphone-image{
    justify-content: space-between;
    align-items: center;
    float: right;
    transform: rotate(25deg);
    position: relative;
    bottom: 200px;
    left: 10px;
    width: 175px;
    height: 400px;
}
.white-section {
    background-color: #fff;
    height: 550px;
}


.socials{
    text-align: center;
}
.feature-title {
    font-size: 25.5px;
    font-weight: bold;
    position: relative;
    bottom: 150px; 
    left: 130px;
    padding: auto;
    margin: auto;
}
.feature-name{
    font-size: 15px;
    justify-content: space-between;
    font-weight: lighter;
    padding: 0px 0px 0px 130px;
}

.feature-box {
    position: relative;
    top: 145px;
    left:  65px;
    display: flex;
    justify-content: space-between;
    padding: 150px 0px 100px;
}
.feature-namebox{
    display: flex;
    position: relative;
    bottom: 103px;
    margin: 0px 100px 0px 65px;
}
}

